<h2><strong>{{cartTitle}}</strong></h2>
{{#each cart}}
    <div class="container row">
        <h4>Product: {{this.product.name}}</h4>
        <h4>Price: ${{this.product.price}}</h4>
        <h4>Quantity: {{this.qty}}</h4>
    </div>
   
{{/each}}

<div style=" border-top: 1px solid gray;;">
    <h4>Price before discount: ${{totalPrice}}</h4>
    <h4>Discount: ${{discountAmount}}</h4>
    <h4>Total Price: ${{finalPrice}}</h4>
</div>
