{{#each customers }}
    <div class="col-sm-6 col-md-4">
        <h3>{{this.name}}</h3>
        <div class="thumbnail">
            <div class="caption">
                <div class="clearfix"> 
                    <h3>Price Policies:</h3>
                    {{#if this.discount.length}}
                        {{#each this.discount}}
                            <div class="container">
                                <h4>{{this.pricePolicy}}</h4>
                                <h5>Product: {{this.product}}</h5>
                                {{#if this.n}}
                                    <h5>N = {{this.n}}</h5>
                                {{/if}}
                                {{#if this.price}}
                                    <h5>Price = ${{this.price}}</h5>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="container">
                            <h4>No discount policy</h4>
                        </div>
                    {{/if}}
                </div>        
            </div>
        </div>
    </div>
{{/each}}


