{{#each products }}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="clearfix"> 
                    <h3>{{this.name}}</h3>
                        <div class="container">
                            <h4>${{this.price}}</h4>
                        </div>
                </div>        
            </div>
        </div>
    </div>
{{/each}}